/*
// Jacob Opdahl & Savannah Farm
// Lab 3
*/

.padded {
    padding: 5px;
}

.morris {
    color: maroon;
    background-color: gold;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

body {
    background-color: navajowhite;
}

h1 {
    background-color: gold;
    text-align: center;
}

h2 {
    text-align: center;
}