.padded {
    padding: 5px;
}

.morris {
    /*color: maroon;*/
    /*background-color: gold;*/
    list-style: none;
}
.done-true{
    text-decoration: line-through;
    color: grey;
}

body {
    background-color: #f5f5f5;
}