<!DOCTYPE html>

<html ng-app="cougarApp">

<!-- Jacob Opdahl & Savannah Farm -->
<!-- Lab 3 -->

<head lang="en">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="../bower_components/angular/angular.min.js" ></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script> -->
    <script src="../javascripts/angularfile1.js"></script>
    <script src="../javascripts/todo.js"></script>
    <meta charset="UTF-8">
    <title>Angular Practice</title>
</head>

<body>

    <div></div>
        <header>

            <h1>Super Class Super Angular Super Fun!</h1>

        </header>
    </div>

    <div class="container-fluid" >
        <div class="row">

            <div class="col-md-6" ng-controller="TodoController">
                <div class="morris">

                    <h2>To-do</h2>

                    <hr/>
                    <span>{{remaining()}} of {{todos.length}} remaining</span>
                    [ <a href="" ng-click="archive()">archive</a> ]

                    <ul class="unstyled" id="noBullet">
                        <li ng-repeat="todo in todos">
                            <input type="checkbox" ng-model="todo.done">
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </li>
                    </ul>

                    <hr/>
                    <form ng-submit="addTodo()">
                        <input type="text" ng-model="todoText"  size="30"
                               placeholder="add new todo here">
                        <input class="btn-primary" type="submit" value="add">
                    </form>

                </div>
            </div>

            <div class="col-md-6" ng-controller="CougarController">
                <div class="morris">

                    <h2>Go Cougs!!!</h2>

                    <hr/>
                    <ol class="unstyled">
                        <li ng-repeat="todo in cougarItems">
                            <span>{{todo.text}}</span>
                        </li>
                    </ol>

                    <hr/>

                    <div class="row">

                        <div class="col-md-6">
                            <form ng-submit="addCougar()">
                                <input type="text" ng-model="todoText" size="40" placeholder="Add a new Cougar Favorite Phrase!">
                                <input class="btn-primary" type="submit" value="Add">
                            </form>
                        </div>

                        <div class="col-md-6">
                            <form ng-submit="removeCougar()">
                                <input type="number" ng-model="index" size="25" placeholder="Choose which phrase to remove.">
                                <input class="btn-primary" type="submit" value="Delete">
                            </form>
                        </div>

                    </div>

                </div>
            </div>



        </div>

    </div>

</body>

</html>